<header class="jumbotron">
<!-- Main component for a primary marketing message or call to action -->

    <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <h1>Sign and Share</h1>
                    <p style="padding:40px;"></p>
                    <p>Connect, Discover, and Influence.</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                </div>
            </div>
    </div>
</header>

    <div class="container">
        <div class="row row-content">
            <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
                <h3 align=center>About Gallaudet</h3>
            </div>
            <div class="col-xs-12 col-sm-9">
                <h2>Gallaudet University</h2>
                <p>Gallaudet University is the world leader in liberal education and career development for deaf and hard of hearing students. The University enjoys an international reputation for its outstanding programs and for the quality of the research it conducts on the history, language, culture, and other topics related to deaf people.</p>
                <p><a href="http://www.gallaudet.edu/about-gallaudet.html">More &raquo;</a></p>
               <div class="well">
                    <blockquote>
                        <p>After becoming deaf, I realized that I'd better get an education if I was ever to do anything with my life.</p>
                        <footer>I. King Jordan</footer>
                    </blockquote>
                </div> 
            </div>
        </div>
        
        <div class="row row-content">
            <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
                <h3 align=center>About the Honors Program</h3>
            </div>
            <div class="col-xs-12 col-sm-9">
                <h2>The Honors Program at Gallaudet University</h2>
                <p>The Honors Program is a two-tier program offering students advanced preparation for graduate school or professional employment. We offer General Studies Honors (where students work towards Honors completing their General Studies Requirements) and Capstone Honors (where students work towards an Honors degree during their last two years and complete an Honors Capstone).  Students who graduate with Capstone Honors will be eminently prepared for admission to top-tier graduate or professional programs.
<br>
To aid students in their quest for excellence, we provide a number of benefits including dedicated study facilities, scholarships, social programs, and enhanced academic preparation.
<br>
If you have questions about our program, please contact honors@gallaudet.edu.</p>
                <p><a href="http://www.gallaudet.edu/honors-program.html">More &raquo;</a></p>
               <div class="well">
                    <blockquote>
                        <p>The students at Gallaudet University deserve our congratulations. They educated the nation about deafness, and won a long overdue victory for all disabled people.</p>
                    <footer>Massachusetts Governor Michael Dukakis</footer>
                    </blockquote>
                </div> 
            </div>
        </div>
         
    </div>
    
    