
    <header class="jumbotron">
<!-- Main component for a primary marketing message or call to action -->

    <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <h1>Sign and Share</h1>
                    <p style="padding:40px;"></p>
                    <p>Connect, Discover, and Influence.</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                </div>
            </div>
    </div>
    </header>
    
    

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a ui-sref="app">Home</a></li>
                   <li class="active">Submit & Share</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>Submit and Share</h3>
               <hr>
            </div>
        </div>
        
        <div class="row row-content">
            <div class="col-xs-12 col-sm-9">
                <form class="form-horizontal" role="form">
                    
                    <div class="form-group">
                        <label for="topic" class="col-sm-2 control-label">Topic</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="topic" name="topic" placeholder="Enter The Topic of Your Video">
                        </div>
                    </div>
                        
                    
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="description" name="description" rows="12"></textarea>
                        </div>
                    </div>
<!--------Allow the user to submit from their local drive--------->                    
                    <div class="form-group">
                        <label for="aaddress" class="col-sm-2 control-label">PLACEHOLDER</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="topic" name="topic" placeholder="address in local drive">
                        </div>
                    </div>
<!----------------------------------->
                    
                    
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                        
                </form>
            </div>
             <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
            </div>
       </div>
        
        
        
        


        

        
    </div>

    
    